<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>TIENDA DATABIOS</title>

		{% load static %}
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	</head>
	<body>
		<nav class="nav">
			<h1 class="h11">
				<img src="{% static 'images/logo databios.png' %}" alt="Logo" class="logo">
				DATABIOS</h1>
			<ul>
				<li><a href="">Inicio</a></li>
				<li><a href="">Sobre Nosotros</a></li>
				<li><a href="">Contacto</a></li>
			</ul>
		</nav>
		<div class="container">
			{% block content %}
				<p class="mensaje">...</p>
			{% endblock %}
		</div>
	</body>
</html>
